<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pilih Bahasa</title>
</head>
<body class="bg-blue-600">
    <div class="mt-10">
        <h1 class="text-white text-3xl my-4 mb-10 font-semibold text-center">SILAHKAN PILIH BAHASA ANDA</h1>
        <div class="w-6/12 bg-white h-px mx-auto mt-10"></div>
        <div class="mt-14">
            <h1 class="text-white text-3xl mt-10 font-semibold text-center">PLEASE SELECT YOUR LANGUAGE      
            </h1>
        </div>
        <div class="text-right mr-12 mt-20">
            <a href="pin.html">
            <h1 class="text-white text-3xl">INDONESIA -> 
                
            </a>
        </div>
        <div class="text-right mr-12 mt-20 h-px">
            <h1 class="text-white text-3xl">ENGLISH   ->   
        </div>
        <div class="mt-14">
            <h1 class="text-white text-3xl mb-10 font-semibold text-center">TO OBTAIN CARD PRESS CENCEL      
                <div class="w-6/12 bg-white h-px mx-auto mt-10"></div>
            </h1>
            <div class="mt-14">
                <h1 class="text-white text-3xl mb-10 font-semibold text-center">TEKAN " CANCEL " UNTUK MEMBATALKAN      
                </h1>
        </div>
    </h1>